---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3" | "h4";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;
const textSize = {
  h2: "text-xl",
  h3: "text-lg",
  h4: "text-md",
}[Heading];
const { title, description, ...props } = data;
---

<li class="my-4">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block font-medium text-accent", textSize,
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading style={{ viewTransitionName: slugifyStr(title) }}>
      {title}
    </Heading>
  </a>
  <Datetime {...props} />
  <p>{description}</p>
</li>
