---
import IconRss from "@/assets/icons/IconRss.svg";
import { SITE } from "@/config";
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span class="mr-2"
        >Copyright &#169; {currentYear} <a href="/">{SITE.author}</a></span
      >
      <a
        target="_blank"
        href="/rss.xml"
        class="hidden sm:inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={16}
          height={16}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>
    </div>
  </div>
</footer>
