---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import IndexSide from "@/components/IndexSide.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { Icon } from "astro-icon/components";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const pinPosts = sortedPosts
  .filter(post => post.data.pin);
---

<section id="pinned-posts" class="pt-2">
  {
    pinPosts.length > 0 && (
      <section id="recent-posts" class="pb-1">
      <h2 class="inline-block text-xl font-semibold">
        <Icon name="tabler:pin" class="inline-block size-5 me-1 mb-1" />
        Pinned Articles
      </h2>
        <ul>
          {pinPosts.map(
            (data, index) =>
              index < SITE.postPerIndex && <Card variant="h4" {...data} />
          )}
        </ul>
      </section>
    )
  }
</section>